@import "compass/reset";
@import "compass/support";
@import "compass/css3";
@import "core";

.flex_row{
    width: 100%;
    max-width: 980px;
    min-width: 320px;
    margin: 0 auto;
    height: 400px;
    @include display-flex;
}
.row .one.columns { 
    width: 6.38298%; 
}
.two.columns { 
    width: 14.89362%; 
}
.three.columns { 
    width: 23.40426%; 
}
.four.columns { 
    width: 31.91489%; 
}
.five.columns { 
    width: 40.42553%; 
}
.six.columns { 
    width: 48.93617%; 
}
.seven.columns { 
    width: 57.44681%; 
}
.eight.columns { 
    width: 65.95745%; 
}
.nine.columns { 
    width: 74.46809%; 
}
.ten.columns {
    width: 82.97872%; 
}
.eleven.columns { 
    width: 91.48936%; 
}
.twelve.columns { 
    width: 100%; 
}


//.Aligner-item {
//  max-width: 50%;
//}
//.flex-nav ul{
//    border: 1px solid black;
//    list-style: none;
//    margin: 0;
//    padding: 0;
//    @include display-flex(flex);
//}
//.flex-nav li{
//    flex: 3;
//}
//.flex-nav .social{
//    flex: 1;
//}



//.push_top{
//    margin-top: 6.63265%;
//}
//
//
//
//
//
//.flex-item{
//    border:1px solid green;
//    width: 200px;
//    
//}
//.flex-row{
//    @include display-flex(flex);
//    border:1px solid red;
//    height: 400px;
//    max-width: 980px;
//    min-width: 320px;
//    margin: 0 auto;
//}
//
///* centered content in the middle */
//.centered-content {
//  border:1px solid red;
//  @include display-flex(flex);
//  @include justify-content(center);
//}
